{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "esmodules": true
      }
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "glslify",
    // Also see webpack config and tsconfig to update.
    ["module-resolver", {
      "alias": {
        "lib": "./src/lib"
      }
    }]
  ]
}
