body {
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  inset: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

.title {
  position: absolute;
  bottom: 0.3em;
  color: #fff;
  z-index: 1;
  right: 0.7em;
  font-family: sans-serif;
  font-weight: 100;
  text-align: right;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  z-index: 1;
  text-shadow: 0 0 0.6em #333;
  opacity: 1;
  transition: opacity 300ms;
}

.title-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin-bottom: 0.1em
}

.hide-ui .title {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms, visibility 300ms 300ms;
  pointer-events: none;
}

canvas {
  width:100%;
  height:100%;
  background-color: #333;
  transition: opacity 1000ms;
  position: absolute;
  z-index: -1;
}

.title h1 {
  margin: 0;
  font-size: 2em;
  font-weight: lighter;
}

.title h2 {
  margin: 0;
}

.title a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8em;
  padding: 0 0.3em;
  font-weight: bold;
  align-self: center;
  user-select: none;
  margin: 0;
  position: relative;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #233;
  color: #fff;
  display: flex;
  font-family: sans-serif;
  padding: 10%;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.download-link {
  color: #fff;
  background: #000;
  font-family: sans-serif;
  display: inline-block;
  padding: 10px;
}

.fullscreen {
  position: absolute;
  inset: 0;
}

@media (max-width:700px) {
  .title {
    right: 0;
    left: 0;
    justify-content: center;
    font-size: 0.7em;
  }
  .title a {
    padding: 0.3em 0.6em;
  }
}
