:host {
  --accent-color: #44b9ff;
  --background-color: #333;
  --background-color-outset: #444;
  --background-color-inset: #111;
  --border-color: #888;
  --border-color-focus: #000;
  --border-color-subtle: #666;
  --border-radius: 3px;
  --font-color: #fff;
  --font-color-inverted: #000;
  --font-family: system-ui, sans-serif;
  --padding: 0.3rem;

  font-family: var(--font-family);
  font-size: 0.9rem;
  font-weight: normal;
}

.manager {
  position: absolute;
  inset: auto 0 0 0;
  background: #fff;
  display: flex;
  padding: 0.3rem;
  border-top: 1px solid var(--border-color-subtle);
  justify-content: space-between;
  background-color: var(--background-color);
  color: var(--font-color);
  align-items: center;

  & select, & button, & input[type=text] {
    &:is(:active, :focus, :focus-visible):not(:disabled) {
      outline: 2px solid var(--accent-color);
      border: 1px solid var(--border-color-focus);
    }

    &:disabled {
      opacity: 0.5  ;
    }
  }

  & button {
    background: var(--outset-background-color);
    border: 1px solid var(--accent-color);
    padding: var(--padding);
    border-radius: 3px;
    color: var(--accent-color);

    &:hover {
      background: var(--accent-color);
      color: var(--font-color-inverted);
    }
  }

  & :is(input[type="text"], select) {
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    width: 12rem;
    background-color: var(--background-color-inset);
    color: var(--font-color);
  }
}

.row {
  display: flex;

  & ._start {
    width: var(--sidebar-width);
    border-right: 1px solid var(--border-color-subtle);
    box-sizing: border-box;
    border-top: 1px solid var(--border-color-subtle);
    padding: 8px;
    display: flex;
    align-items: center;

    & ._content {
      flex: 1;
      display: flex;
      gap: 7px;
      align-items: center;
    }
  }

  & ._end {
    flex: 1;
    border-top: 1px solid var(--border-color-subtle);
  }

  & ._remove {
    background: none;
    border: none;
    padding: 6px;
    margin: -6px;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    & img {
      width: 12px;
      height: 12px;
    }
  }
}

.row-line {
  height: 33px;
  background-color: #74c0e4;
  width: 100%;
}

.view {
  position: absolute;
  inset: auto 0 0 0;
  background: #fff;
  display: flex;
  border-top: 1px solid var(--border-color-subtle);
  background-color: var(--background-color);
  color: var(--font-color);
  align-items: center;
  flex-direction: column;

  --sidebar-width: 300px;
}

.view-header {
  --button-size: 20px;
  --padding: 0.7rem;
  display: flex;
  height: calc(var(--padding) * 2 + var(--button-size));

  & ._controls {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--border-color-subtle);
    width: var(--sidebar-width);
    box-sizing: border-box;
    padding: var(--padding) var(--padding);
    gap: var(--padding);
    justify-content: end;

    & button {
      cursor: pointer;
      opacity: 0.8;
      border: none;
      background: none;
      padding: 0;
      width: var(--button-size);
      height: var(--button-size);

      &:hover {
        opacity: 1;
      }

      & img {
        width: var(--button-size);
        height: var(--button-size);
      }
    }

    ._time {
      flex: 1;
    }
  }

  ._record {
    & div {
      width: 14px;
      height: 14px;
      border-radius: 12px;
      outline: 2px solid red;
      position: relative;
      box-sizing: border-box;
      background: red;
      border: 2px solid var(--background-color);
      left: 3px;
    }
  }

  ._tickmarks {
    flex: 1;
    height: calc(var(--padding) * 2 + var(--button-size));
    position: relative; /* for scrubber positioning */
    overflow: hidden;

    & canvas {
      /* Override all of the default canvas styles from style.css */
      width: calc(100vw - var(--sidebar-width));
      height: 1.5rem;
      background-color: red;
      transition: none;
      position: relative;
      z-index: 0;
      /* Additional properties. */
    }
  }

  ._scrubberStart,
  ._scrubberTime {
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }
  ._scrubberStart {
    background-color: #fffd;
  }
  ._scrubberTime {
    background-color: #fff7;
  }
}

.view-rows {
  width: 100%;
}
