.timeline {
  --accent-color: #44b9ff;
  --background-color: #333;
  --background-color-outset: #444;
  --background-color-inset: #111;
  --border-color: #888;
  --border-color-focus: #000;
  --border-color-subtle: #666;
  --border-radius: 3px;
  --font-color: #fff;
  --font-color-inverted: #000;
  --font-family: system-ui, sans-serif;
  --padding: 0.3rem;

  font-family: var(--font-family);
  font-size: 0.9rem;
  font-weight: normal;
}

.timeline-manager {
  position: absolute;
  inset: auto 0 0 0;
  background: #fff;
  display: flex;
  padding: 0.3rem;
  border-top: 1px solid var(--border-color-subtle);
  justify-content: space-between;
  background-color: var(--background-color);
  color: var(--font-color);
  align-items: center;

  & select, & button, & input[type=text] {
    &:is(:active, :focus, :focus-visible):not(:disabled) {
      outline: 2px solid var(--accent-color);
      border: 1px solid var(--border-color-focus);
    }

    &:disabled {
      opacity: 0.5  ;
    }
  }

  & select {

  }

  & button {
    background: var(--outset-background-color);
    border: 1px solid var(--accent-color);
    padding: var(--padding);
    border-radius: 3px;
    color: var(--accent-color);

    &:hover {
      background: var(--accent-color);
      color: var(--font-color-inverted);
    }
  }

  & :is(input[type="text"], select) {
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    width: 12rem;
    background-color: var(--background-color-inset);
    color: var(--font-color);
  }
}

.timeline-row {
  display: flex;
}

.timeline-row-start {
  width: var(--sidebar-width);
  border-right: 1px solid var(--border-color-subtle);
  box-sizing: border-box;
  border-top: 1px solid var(--border-color-subtle);
  padding: 8px;
  display: flex;
  align-items: center;
}

.timeline-row-start-content {
  flex: 1;
  display: flex;
  gap: 7px;
  align-items: center;
}

.timeline-row-end {
  flex: 1;
  border-top: 1px solid var(--border-color-subtle);
}

.timeline-row-remove {
  background: none;
  border: none;
  padding: 6px;
  margin: -6px;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  & img {
    width: 12px;
    height: 12px;
  }
}

.timeline-line {
  height: 33px;
  background-color: #74c0e4;
  z-index: 1;
}

.timeline-view {
  position: absolute;
  inset: auto 0 0 0;
  background: #fff;
  display: flex;
  border-top: 1px solid var(--border-color-subtle);
  background-color: var(--background-color);
  color: var(--font-color);
  align-items: center;
  flex-direction: column;

  --sidebar-width: 300px;
}

.timeline-view-header {
  display: flex;
}

.timeline-view-controls {
  display: flex;
  align-items: center;
  border-right: 1px solid var(--border-color-subtle);
  width: var(--sidebar-width);
  box-sizing: border-box;
  padding: 0.7rem 0.7rem;
  gap: 0.7rem;
  justify-content: end;

  & button {
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

.timeline-view-controls {
  & button {
    border: none;
    background: none;
    padding: 0;
    width: 20px;
    height: 20px;

    & img {
      width: 20px;
      height: 20px;
    }
  }
}

.timeline-view-time {
  flex: 1;
}

.timeline-view-play {

}

.timeline-view-record {
  & div {
    width: 14px;
    height: 14px;
    border-radius: 12px;
    outline: 2px solid red;
    position: relative;
    box-sizing: border-box;
    background: red;
    border: 2px solid var(--background-color);
    left: 3px;
  }
}

.timeline-view-close {

}

.timeline-view-timeline {
  flex: 1;
  & canvas {
    /* Override all of the default canvas styles from style.css */
    width: calc(100vw - var(--sidebar-width));
    height: 1.5rem;
    background-color: red;
    transition: none;
    position: relative;
    z-index: 0;
    /* Additional properties. */
  }
}

.timeline-view-zoom {

}

.timeline-view-items {
  width: 100%;
}
